extends layouts/main

block content
	.home-search__wrapper
		.home-search__title
			span 공간을
			span 공유하세요
		.home-search__searchbar
			form(action=`${routes.place}${routes.search}` id="placeSearchForm")
				input(type="text" placeholder="공간을 검색하세요." name="keyword")
				i.fas.fa-search-location

	.home-recent-places
		ul
			if user
				li
					a(href="#")=user.name
					span 님
			li
				a(href="#") 좋아요 방
			
		.place-detail
			
	

		