extends layouts/main

block content
	.loginform-container
		.login__icon
			i.fas.fa-draw-polygon LINKER
		form(action=routes.login method="post")
			div
				input(type="email" name="email" placeholder="이메일" required=true)
			div
				input(type="password" name="password" placeholder="비밀번호" required=true)
			input(type="submit" value="로그인")
		p 아직 회원이 아니신가요? 
			a(href=routes.join) 이메일로 회원가입
		include partials/socialLogin