doctype html
html
	body
		form(name="form" id="form" method="post" onsubmit="return false;")
			//- 요청 변수 설정 (현재 페이지. currentPage : n > 0)
			input(type="hidden" name="currentPage" id="currentPage" value="1") 
			//- 요청 변수 설정 (페이지당 출력 개수. countPerPage 범위 : 0 < n <= 100)
			input(type="hidden" name="countPerPage" id="countPerPage" value="8")
			//- 요청 변수 설정 (검색결과형식 설정, json)
			input(type="hidden" name="resultType" id="resultType" value="json")
			input(type="hidden" name="confmKey" id="confmKey" value=`${env.ROAD_JUSO_KEY}`)
			input(type="text" name="keyword" id="keyword" value="" onkeydown="enterSearch();")
			input(type="button" name="search" id="search" value="주소검색하기")
			div(id="list")
			.paginate(id="pageApi")
	script(src="/static/dist/jquery/jquery-3.4.1.min.js")
	script(src="/static/jusoPopup.js")
	script.
		$(document).ready(() => { 
			$("#keyword").val($("#keyword", opener.document).val())
			if($("#keyword").val() != "") {
				$("#search").click()
			}
		})

		$("#search").click(() => {
			document.form.currentPage.value = 1
			getAddr()
		})
		